.main {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
}

.key {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.key TextField {
    width: 3rem;
}

.key Button {
    width: 1rem;
}