.main {
    display: flex;
    flex-direction: column;
    width: 15rem;
    align-content: center;
    column-gap: 0.5rem;
}

.key {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.create {
    width: 100%;
}

p {
    align-items: center;
}