.main-entry {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

.render-fields {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.type-input {
    width: 100%;
}

.type-input .MuiSvgIcon-root {
    color: white;
}
