.App {
    display: flex;
    flex-direction: column;
}

.field {
    padding-bottom: 0.5rem;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

Button {
    width: 100%;
}

